@import "../../styles/theme/theme.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 20%;
}

.icon {
  height: 2rem;
  margin-right: 1rem;
}



@media only screen and (min-width: 768px) {
  .text {
    font-family: $text-font;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
  }
} 

@media only screen and (max-width: 768px) {
  .text {
    font-family: $text-font;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 8px;
  }
} 