@import "../styles/theme/_theme.scss";

.clickable {
  display: block;
  color: #000000;
  text-decoration: none;
  background-color: $card;
  transition: background-color 0.1s;
  padding: 20px;
  border: solid 2px $primary;
  border-radius: 1rem;
  
}
.clickable:hover {
  background-color: $primary;
}

@media only screen and (max-width: 768px) {
  .header {
    font-family: $text-font;
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    font-family: $text-font;
    font-size: 24px;
  }
}