@import "../styles/theme/_theme.scss";

.clickable {
  display: block;
  color: #000000;
  text-decoration: none;
  background-color: $card;
  transition: background-color 0.1s;
  padding: 20px;
  border: solid 2px $primary;
  border-radius: 1rem;
  
}
.clickable:hover {
  background-color: $primary;
}

.header {
  font-family: $text-font;
  font-size: 4vw;
}