.container {
  border: solid 2px #DBE2E8;
  border-radius: 1rem;
  padding: 20px;
  margin: 20px 0px;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.body {
  color: #A5A9AC;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}